body {
    margin: 0;
    background-color: #fafafa;
    min-height: 100vh;

    font-size: 18px;
    line-height: 1.6;
    color: #1c1c1c;

    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
