.feed-container-element {
    text-align: left;

    border: 1px solid gray;
    border-radius: 10px;

    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
}

.feed-post-title{
    text-decoration: none;
    color: #563bbd;
}

.feed-post-title:hover {
    color: #48319b;
}

.feed-post-date{
    color: grey;
}

.feed-post-text{
    padding-top: 20px;
}