.auth-forms {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    alignment: center;

    max-width: 500px;
}

.auth-field, .auth-button, .auth-link, .auth-element{
    margin-top: 30px;
}

.auth-field {
    width: 100%;
}

.auth-link {
    text-decoration: none;
    color: #48319b;
}

.auth-link:hover {
    color: #48319b;
    text-decoration: underline;
}

